* {
    margin: 1px;
    padding: 1px;
} /* Reseta os modelos padrãos do navegado*/

.redirecionar {
    color: red;
} /* Usar para destacar os elementos que quando clicados abrem outras abas*/

body {
    height: 100vh; /*garante que o conteudo da pagina use 100% da altura da tela */
    box-sizing: border-box; /* ganrante que os componentes filhos não extrapolem o limite para os componetes pai*/
    background-color: #f4f4f9;
    color: black;
    
}

strong {
    color: #red;
}

button {
    background-color: #007BFF; !important;
    color: white;
    border: 1px solid black; /* Adiciona uma borda no botão */
    border-radius: 4px; /* As quinas? */
    padding: 5px 10px; /* tamanho do botão em relação ao conteudo */
    cursor: pointer;
    font-size: 16px;
}

input[type="text"], input[type="number"] {
    background-color: #A5FFA4; !important;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
}

#result h2 {
  color: green;
}

h2 {
  color: green;
}

#values h3 {
    color: red;
}

.destaque_vermelho {
    color: red !important;
}


/* MENU MINIMIZAVEL */

/* Container do menu */
.menu-container {
  position: relative;
}


/* Botão do menu */
.menu-toggle {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


/* Lista do menu (estilo inicial oculto) */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Escondido por padrão */
  background-color: #333;
  position: absolute;
  top: 50px;
  left: 0;
  width: 600px; /* é usada para definir a largura de um elemento, controlando o espaço horizontal que ele ocupa. */
  border: 1px solid #444;
}


.menu-list li {
  border-bottom: 1px solid #444;
}

.menu-list li:last-child {
  border-bottom: none;
}

/* Botões internos no menu */
.menu-list a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu-list a:hover {
  background-color: #555;
}

/* Classe para mostrar o menu */
.menu-list.hidden {
  display: none; /* Garantir que o menu começa oculto */
}

.menu-list.visible {
  display: block;
}
    
